<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
  <separator label="Mabox Menu"/>
    <item label="Menedżer plików" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/22x22/status/gtk-missing-image.svg"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="Terminal" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/lxterminal.svg"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Uruchom" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/terminal.svg"><action name="Execute"><command><![CDATA[dmenu_extended_run]]></command></action></item>
  <separator/>
  <menu id="Akcesoria" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-utilities.svg" label="Akcesoria">
    <item label="ClipIt" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/clipit-trayicon.svg"><action name="Execute"><command><![CDATA[clipit]]></command></action></item>
    <item label="Galculator" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/galculator.svg"><action name="Execute"><command><![CDATA[galculator]]></command></action></item>
    <item label="Plank" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/plank.svg"><action name="Execute"><command><![CDATA[plank]]></command></action></item>
    <item label="PlayOnLinux" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/playonlinux.svg"><action name="Execute"><command><![CDATA[playonlinux]]></command></action></item>
    <item label="Przeglądarka obrazów" icon="/usr/share/icons/hicolor/48x48/apps/gpicview.png"><action name="Execute"><command><![CDATA[gpicview]]></command></action></item>
    <item label="Terminator" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/terminator.svg"><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
    <item label="Xarchiver" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/xarchiver.svg"><action name="Execute"><command><![CDATA[xarchiver]]></command></action></item>
  </menu>
  <menu id="Programowanie" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-development.svg" label="Programowanie">
    <item label="CMake" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/CMakeSetup.svg"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="Geany" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/geany.svg"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
    <item label="Icon Browser" icon="/usr/share/icons/hicolor/48x48/apps/yad.png"><action name="Execute"><command><![CDATA[yad-icon-browser]]></command></action></item>
  </menu>
  <menu id="Edukacja" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-science.svg" label="Edukacja">
    <item label="LibreOffice Math" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/libreoffice-math.svg"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
  </menu>
  <menu id="Gry" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-games.svg" label="Gry">
    <item label="Steam" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/steam.svg"><action name="Execute"><command><![CDATA[/usr/bin/steam]]></command></action></item>
  </menu>
  <menu id="Grafika" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-graphics.svg" label="Grafika">
    <item label="Blender" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/blender.svg"><action name="Execute"><command><![CDATA[blender]]></command></action></item>
    <item label="Edytor obrazów GIMP" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/gimp.svg"><action name="Execute"><command><![CDATA[gimp-2.8]]></command></action></item>
    <item label="Krita" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/calligrakrita.svg"><action name="Execute"><command><![CDATA[krita]]></command></action></item>
    <item label="LibreOffice Draw" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/libreoffice-draw.svg"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="Nitrogen" icon="/usr/share/icons/hicolor/48x48/apps/nitrogen.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Pinta" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/pinta.svg"><action name="Execute"><command><![CDATA[pinta]]></command></action></item>
    <item label="Przeglądarka obrazów" icon="/usr/share/icons/hicolor/48x48/apps/gpicview.png"><action name="Execute"><command><![CDATA[gpicview]]></command></action></item>
  </menu>
  <menu id="Multimedia" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-multimedia.svg" label="Multimedia">
    <item label="DeaDBeeF" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/deadbeef.svg"><action name="Execute"><command><![CDATA[deadbeef]]></command></action></item>
    <item label="Kontrola głośności PulseAudio" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/multimedia-volume-control.svg"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Odtwarzacz mpv" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/mpv.svg"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="Qt V4L2 test Utility" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/qv4l2.svg"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="Spotify" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/spotify-client.svg"><action name="Execute"><command><![CDATA[spotify]]></command></action></item>
    <item label="VLC media player" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/vlc.svg"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
  </menu>
  <menu id="Sieć" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg" label="Sieć">
    <item label="Discord" icon="/usr/share/pixmaps/discord.png"><action name="Execute"><command><![CDATA[/usr/bin/discord]]></command></action></item>
    <item label="Firefox" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/firefox.svg"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="HexChat" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/hexchat.svg"><action name="Execute"><command><![CDATA[hexchat --existing]]></command></action></item>
    <item label="Przeglądarka serwerów SSH Avahi" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/devices/network-wired.svg"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Przeglądarka serwerów VNC Avahi" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/devices/network-wired.svg"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Skype Preview" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/skypeforlinux.svg"><action name="Execute"><command><![CDATA[/usr/bin/skypeforlinux]]></command></action></item>
    <item label="Steam" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/steam.svg"><action name="Execute"><command><![CDATA[/usr/bin/steam]]></command></action></item>
    <item label="Thunderbird" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/thunderbird.svg"><action name="Execute"><command><![CDATA[/usr/lib/thunderbird/thunderbird]]></command></action></item>
    <item label="Transmission" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/transmission.svg"><action name="Execute"><command><![CDATA[transmission-gtk]]></command></action></item>
  </menu>
  <menu id="Biuro" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-office.svg" label="Biuro">
    <item label="LibreOffice Base" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/libreoffice-base.svg"><action name="Execute"><command><![CDATA[libreoffice --base]]></command></action></item>
    <item label="LibreOffice Calc" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/libreoffice-calc.svg"><action name="Execute"><command><![CDATA[libreoffice --calc]]></command></action></item>
    <item label="LibreOffice Draw" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/libreoffice-draw.svg"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="LibreOffice Impress" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/libreoffice-impress.svg"><action name="Execute"><command><![CDATA[libreoffice --impress]]></command></action></item>
    <item label="LibreOffice Math" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/libreoffice-math.svg"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
    <item label="LibreOffice Writer" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/libreoffice-writer.svg"><action name="Execute"><command><![CDATA[libreoffice --writer]]></command></action></item>
    <item label="LibreOffice" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/libreoffice-startcenter.svg"><action name="Execute"><command><![CDATA[libreoffice]]></command></action></item>
    <item label="qpdfview" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/qpdfview.svg"><action name="Execute"><command><![CDATA[qpdfview --unique]]></command></action></item>
    <item label="Texmaker" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/texmaker.svg"><action name="Execute"><command><![CDATA[texmaker]]></command></action></item>
  </menu>
  <menu id="Ustawienia" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-accessories.svg" label="Ustawienia">
    <item label="Adobe Flash Player" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/flash-player-properties.svg"><action name="Execute"><command><![CDATA[flash-player-properties]]></command></action></item>
    <item label="Aktualizacja oprogramowania" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/system-software-update.svg"><action name="Execute"><command><![CDATA[pamac-updater]]></command></action></item>
    <item label="ARandR" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/22x22/status/gtk-missing-image.svg"><action name="Execute"><command><![CDATA[arandr]]></command></action></item>
    <item label="Centrum Sterowania MaboxLinux" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop.svg"><action name="Execute"><command><![CDATA[mbcc]]></command></action></item>
    <item label="Dodanie/usuwanie oprogramowania" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/system-software-install.svg"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Klawiatura i mysz" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/devices/input-keyboard.svg"><action name="Execute"><command><![CDATA[lxinput]]></command></action></item>
    <item label="Konfiguracja zapory sieciowej" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/gufw.svg"><action name="Execute"><command><![CDATA[gufw]]></command></action></item>
    <item label="Menedżer ustawień Manjaro" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop.svg"><action name="Execute"><command><![CDATA[manjaro-settings-manager]]></command></action></item>
    <item label="Narzędzie konfiguracji trybu zapisu dla NTFS" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/devices/gnome-dev-harddisk.svg"><action name="Execute"><command><![CDATA[/usr/sbin/ntfs-config-root]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/obconf.svg"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Pointing devices" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop-peripherals.svg"><action name="Execute"><command><![CDATA[gpointing-device-settings]]></command></action></item>
    <item label="Połączenia sieciowe" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-system-network.svg"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Preferencje wyglądu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop-theme.svg"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Preferowane programy" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop-default-applications.svg"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Ustawienia panelu tint2" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/tint2conf.svg"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
    <item label="Ustawienia powiadomień Manjaro" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop.svg"><action name="Execute"><command><![CDATA[msm_notifier --settings]]></command></action></item>
    <item label="Ustawienia Qt5" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop-theme.svg"><action name="Execute"><command><![CDATA[qt5ct]]></command></action></item>
    <item label="Ustawienia wyświetlania" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/devices/video-display.svg"><action name="Execute"><command><![CDATA[lxrandr]]></command></action></item>
  </menu>
  <menu id="System" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-system.svg" label="System">
    <item label="Aktualizacja oprogramowania" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/system-software-update.svg"><action name="Execute"><command><![CDATA[pamac-updater]]></command></action></item>
    <item label="Dodanie/usuwanie oprogramowania" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/system-software-install.svg"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Grub Customizer" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/grub-customizer.svg"><action name="Execute"><command><![CDATA[grub-customizer]]></command></action></item>
    <item label="Htop" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/htop.svg"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator -e 'htop']]></command></action></item>
    <item label="Narzędzie konfiguracji trybu zapisu dla NTFS" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/devices/gnome-dev-harddisk.svg"><action name="Execute"><command><![CDATA[/usr/sbin/ntfs-config-root]]></command></action></item>
    <item label="Przeglądarka Zeroconf Avahi" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/devices/network-wired.svg"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="Terminator" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/terminator.svg"><action name="Execute"><command><![CDATA[terminator]]></command></action></item>
    <item label="Tint2" icon="/usr/share/icons/hicolor/scalable/apps/tint2.svg"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
    <item label="UXTerm" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/xterm-color_48x48.svg"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="XTerm" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/xterm-color_48x48.svg"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
    <menu id="Miejsca" label="Miejsca" execute="obbrowser" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/devices/drive-harddisk.svg"/>
    <menu id="Ostatnie pliki" label="Ostatnie pliki" execute="mabox-recent-files-pipemenu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/mimetypes/text-plain.svg"/>
  <separator/>
  <menu id="Zrzut ekranu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/gnome-settings.svg" label="Zrzut ekranu">
    <item label="Pełny ekran" icon="/usr/share/icons/hicolor/48x48/apps/nitrogen.png"><action name="Execute"><command><![CDATA[mb-scrot -d]]></command></action></item>
    <item label="Pełny ekran za 5 sekund" icon="/usr/share/icons/hicolor/48x48/apps/nitrogen.png"><action name="Execute"><command><![CDATA[mb-scrot -5]]></command></action></item>
    <item label="Pełny ekran za 10 sekund" icon="/usr/share/icons/hicolor/48x48/apps/nitrogen.png"><action name="Execute"><command><![CDATA[mb-scrot -10]]></command></action></item>
    <item label="Aktywne okno" icon="/usr/share/icons/hicolor/48x48/apps/nitrogen.png"><action name="Execute"><command><![CDATA[mb-scrot -w]]></command></action></item>
    <item label="Zaznaczony obszar" icon="/usr/share/icons/hicolor/48x48/apps/nitrogen.png"><action name="Execute"><command><![CDATA[mb-scrot -s]]></command></action></item>
    <item label="Multimonitor" icon="/usr/share/icons/hicolor/48x48/apps/nitrogen.png"><action name="Execute"><command><![CDATA[mb-scrot -m]]></command></action></item>
  </menu>
  <separator/>
    <item label="Centum Sterowania Mabox" icon="/usr/share/icons/mabox_border_32.png"><action name="Execute"><command><![CDATA[mbcc]]></command></action></item>
    <item label="Mabox Styler" icon="/usr/share/icons/mbs_trans_32.png"><action name="Execute"><command><![CDATA[mbstyler]]></command></action></item>
    <menu id="Oprogramowanie" label="Oprogramowanie" execute="mabox-software-pipemenu" icon="/usr/share/icons/hicolor/48x48/apps/nitrogen.png"/>
  <menu id="Preferencje" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/gnome-settings.svg" label="Preferencje">
  <separator label="Pulpit"/>
    <item label="Wystrój i ikony" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop-theme.svg"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Tapeta" icon="/usr/share/icons/hicolor/48x48/apps/nitrogen.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <menu id="Conky" label="Conky" execute="mabox-conky-pipemenu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/22x22/status/gtk-missing-image.svg"/>
    <menu id="Panel Tint2" label="Panel Tint2" execute="mabox-tint2-pipemenu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/tint2conf.svg"/>
  <separator label="Ustawienia"/>
    <item label="Preferowane aplikacje" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop-default-applications.svg"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Menedżer logowania" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/lightdm-gtk-greeter-settings.svg"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
  <separator label="Openbox"/>
  <menu id="Openbox" icon="/usr/share/pixmaps/openbox.png" label="Openbox">
    <item label="Rekonfiguruj Openbox" icon="/usr/share/pixmaps/openbox.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
    <item label="Openbox Autostart" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/geany.svg"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/geany.svg"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/geany.svg"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
  </menu>
  <menu id="Menu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/menu-editor.svg" label="Menu">
    <item label="Schemat Menu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/geany.svg"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Konfiguracja Menu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/geany.svg"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generuj statyczne menu" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/menu-editor.svg"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generuj statyczne menu z ikonami" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/menu-editor.svg"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Odśwież zestaw ikon" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/22x22/actions/gtk-refresh.svg"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
    <menu id="Kompozytor" label="Kompozytor" execute="mabox-compositor" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/22x22/status/gtk-missing-image.svg"/>
  <separator label="Motywy Mabox"/>
    <item label="Predefiniowane schematy" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/preferences-desktop-theme.svg"><action name="Execute"><command><![CDATA[mb-obthemes]]></command></action></item>
  </menu>
  <menu id="Pomoc" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/24x24/actions/help.svg" label="Pomoc">
  <separator label="Pomoc online"/>
  <menu id="Mabox Linux" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/24x24/actions/help.svg" label="Mabox Linux">
    <item label="Strona domowa" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/www-browser.svg"><action name="Execute"><command><![CDATA[ https://pl.maboxlinux.org/]]></command></action></item>
    <item label="Przewodnik użytkownika" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/www-browser.svg"><action name="Execute"><command><![CDATA[ https://pl.maboxlinux.org/przewodnik-uzytkownika/]]></command></action></item>
  </menu>
  <menu id="Arch/Manjaro" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/24x24/actions/help.svg" label="Arch/Manjaro">
    <item label="Arch Wiki" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ https://wiki.archlinux.org]]></command></action></item>
    <item label="Manjaro Wiki" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ https://wiki.manjaro.org]]></command></action></item>
    <item label="Manjaro Forum" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ https://forum.manjaro.org]]></command></action></item>
    <item label="Manjaro PL" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ http://manjaro.pl]]></command></action></item>
  </menu>
  <menu id="OpenBox" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/24x24/actions/help.svg" label="OpenBox">
    <item label="Strona domowa" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ http://openbox.org/wiki/Main_Page]]></command></action></item>
    <item label="Dokumentacja" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ http://openbox.org/wiki/Help:Contents]]></command></action></item>
    <item label="FAQ" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ http://openbox.org/wiki/Help:FAQ]]></command></action></item>
    <item label="Jak zacząć?" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ http://openbox.org/wiki/Help:Getting_started]]></command></action></item>
  </menu>
  <menu id="Dokumentacja Tint2" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/24x24/actions/help.svg" label="Dokumentacja Tint2">
    <item label="Tint2: FAQ" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ https://gitlab.com/o9000/tint2/wikis/FAQ]]></command></action></item>
    <item label="Tint2: konfiguracja" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ https://gitlab.com/o9000/tint2/blob/master/doc/tint2.md]]></command></action></item>
  </menu>
  <menu id="Dokumentacja Conky" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/24x24/actions/help.svg" label="Dokumentacja Conky">
    <item label="Ustawienia konfiguracyjne" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ http://conky.sourceforge.net/config_settings.html]]></command></action></item>
    <item label="Zmienne" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ http://conky.sourceforge.net/variables.html]]></command></action></item>
  </menu>
  <separator/>
  <menu id="Motywy" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/24x24/actions/help.svg" label="Motywy">
    <item label="Box-look.org" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ http://www.box-look.org]]></command></action></item>
    <item label="DeviantArt" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/applications-internet.svg"><action name="Execute"><command><![CDATA[ http://www.deviantart.com/browse/all/]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Zablokuj ekran" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/22x22/actions/lock.svg"><action name="Execute"><command><![CDATA[i3lock -c 414244]]></command></action></item>
    <item label="Wyjście" icon="/home/ulther/.local/share/icons/Papirus-Dark-Breeze-actions/64x64/apps/boot.svg"><action name="Execute"><command><![CDATA[oblogout]]></command></action></item>
  </menu>
</openbox_menu>
